<html>
 <head>
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
<title></title> 
</head>
<body>
<div id="header">
<p id="name"><%= name %></p>
         <a href="<%= email %>" target="_blank"><p id="email"><%= email %></p></a>
     </div>
     <div class="left">
     </div>
     <div class="right">
            <h3>CV Highlights</h3>
            <p>
            <ul>
                <li>Currently going through Computer Engineering</li>
                <li>Learnt basic Python, JavaScript, HTML, CSS on udemy.com.</li>
                <li>An independent, dedicated, efficient person. These attributes are proved through the series of courses I have taken or I am taking as of now independently through online platforms.</li>
                <li>Good Communication Skills, Presentation Skills, attitude towards leadership, authorisation and delegation, conflict resolution and negotiation and a very good team worker.</li></ul>
            </p>
            <h3>Professional Experience</h3>
        
    </body>
</html>